@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
}

input {
  outline: none;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.flex-center, .nav__logo, .nav__list, .card_search, .search, .card__size, .search__bx, .res-search__bx, .res-card__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-between, .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  padding-top: 105px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  padding: 20px 0px;
}

.nav__logo h1 {
  color: #525C60;
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: 700;
  margin-left: 8px;
}
@media (max-width: 380px) {
  .nav__logo h1 {
    font-size: 28px;
  }
}
@media (max-width: 280px) {
  .nav__logo h1 {
    font-size: 18px;
  }
}
@media (max-width: 242px) {
  .nav__logo h1 {
    display: none;
  }
}

@media (max-width: 1280px) {
  .nav__list {
    display: none;
  }
}
.nav__list li {
  margin-left: 30px;
}
.nav__list li a {
  color: #525C60;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.nav__list li a:hover {
  color: #7EB693;
}

.search__bx {
  margin-right: 18px;
}
@media (max-width: 880px) {
  .search__bx {
    display: none;
  }
}

.search__bx, .res-search__bx {
  position: relative;
}
.search__bx input, .res-search__bx input {
  display: inline-block;
  max-width: 336px;
  height: 66px;
  padding-left: 20px;
  padding-right: 70px;
  border-radius: 36px;
  background: #fafafa;
  border: none;
  outline: none;
  font-size: 16px;
  letter-spacing: 1.1px;
}
@media (max-width: 300px) {
  .search__bx input, .res-search__bx input {
    width: 250px;
  }
}
@media (max-width: 275px) {
  .search__bx input, .res-search__bx input {
    width: 200px;
  }
}
.search__bx img, .res-search__bx img {
  width: 56px;
  height: 56px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.res-search__bx {
  display: none;
}
@media (max-width: 880px) {
  .res-search__bx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 525px) {
  .card__size {
    display: none;
  }
}

.card__size {
  padding: 6px 30px 6px 6px;
  border-radius: 33px;
  border: 1px solid #E0E0E0;
}
.card__size h2 {
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding-left: 12px;
}
.card__size img {
  cursor: pointer;
}

.navbar__open {
  display: none;
  margin-left: 20px;
}
@media (max-width: 1280px) {
  .navbar__open {
    display: block;
  }
}
.navbar__open img {
  width: 50px;
  height: 50px;
}

#navbar-responsive {
  position: fixed;
  left: -100%;
  bottom: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 4;
}

.responsive__position {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 4;
}

#navbar-close {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 35px;
  z-index: 2;
}

.res__nav__list li {
  margin: 30px;
  text-align: center;
}
.res__nav__list li a {
  color: #525C60;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 40px;
}
.res__nav__list li a:hover {
  color: #274C5B;
  background-color: #EFF6F1;
  border: 1px solid #274C5B;
  border-radius: 30px;
}

.res-card__size {
  margin-top: 20px;
  padding: 6px 30px 6px 6px;
  border-radius: 33px;
  border: 1px solid #E0E0E0;
  display: none;
}
.res-card__size h2 {
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding-left: 12px;
}
.res-card__size img {
  cursor: pointer;
}
@media (max-width: 525px) {
  .res-card__size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}