@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
}

input {
  outline: none;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.flex-center, .nav__logo, .nav__list, .card_search, .search, .card__size, .search__bx, .res-search__bx, .res-card__size, .footer__email .email__bx, .footer__center .footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-between, .navbar, .footer__email, .footer__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  padding-top: 105px;
}

.footer__email {
  padding: 100px 100px;
  background: url("../../images/footer/Photo_contact.png"), lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  margin-bottom: 100px;
}
@media (max-width: 1245px) {
  .footer__email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 100px 0px;
  }
}
@media (max-width: 825px) {
  .footer__email {
    background-position: center;
  }
}
.footer__email h2 {
  width: 357px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 800;
}
@media (max-width: 411px) {
  .footer__email h2 {
    font-size: 40px;
    width: 100%;
  }
}
@media (max-width: 635px) {
  .footer__email .email__bx {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
.footer__email .email__bx input {
  width: 349px;
  height: 80px;
  border-radius: 16px;
  background: #FFF;
  border: none;
  outline: none;
  padding-left: 20px;
}
@media (max-width: 411px) {
  .footer__email .email__bx input {
    width: 280px;
  }
}
@media (max-width: 359px) {
  .footer__email .email__bx input {
    width: 240px;
  }
}
@media (max-width: 320px) {
  .footer__email .email__bx input {
    width: 200px;
  }
}
.footer__email .email__bx input:focus {
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.footer__email .email__bx button {
  background-color: transparent;
  margin-left: 6px;
}
@media (max-width: 635px) {
  .footer__email .email__bx button {
    margin-left: 0;
  }
}
.footer__email .email__bx button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  padding: 28px 47px 29px 47px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: #274C5B;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 411px) {
  .footer__email .email__bx button a {
    width: 180px;
    padding: 24px 47px;
    font-size: 16px;
    font-weight: 600;
  }
}
.footer__email .email__bx button a:hover {
  background-color: #fff;
  color: #274C5B;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.footer__page {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-bottom: 82px;
  position: relative;
}
@media (max-width: 1187px) {
  .footer__page {
    padding-top: 350px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 654px) {
  .footer__page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 389px) {
  .footer__page {
    padding-top: 420px;
  }
}

.f__contact {
  text-align: right;
  position: relative;
  padding-right: 50px;
}
@media (max-width: 654px) {
  .f__contact {
    text-align: center;
    padding-right: 0;
    width: 100%;
  }
}
.f__contact .line {
  position: absolute;
  width: 1px;
  height: 336px;
  background: #D4D4D4;
  top: 0;
  right: 0px;
}
@media (max-width: 654px) {
  .f__contact .line {
    display: none;
  }
}
.f__contact h3 {
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 32px;
}
.f__contact h4 {
  color: #525C60;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 165%;
}
.f__contact p {
  color: #525C60;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 165%;
  padding-bottom: 32px;
}

.footer__center {
  text-align: center;
}
@media (max-width: 1187px) {
  .footer__center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__center .footer__logo {
  margin-bottom: 23px;
}
.footer__center .footer__logo h1 {
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: 700;
  margin-left: 9px;
}
.footer__center p {
  max-width: 543px;
  color: #274C5B;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 165.4%;
  padding-bottom: 50px;
}
.footer__center .soical__buttons a {
  margin: 10px;
}
.footer__center .soical__buttons a img:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 60%;
}

.utility__pages {
  text-align: left;
  padding-right: 70px;
  position: relative;
  padding-left: 50px;
}
@media (max-width: 654px) {
  .utility__pages {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
.utility__pages h3 {
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 32px;
}
@media (max-width: 1185px) {
  .utility__pages h3 {
    padding-bottom: 12px;
  }
}
.utility__pages a {
  color: #274C5B;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2px;
  margin: 5px;
}
.utility__pages a:hover {
  color: #7EB693;
}
.utility__pages .line {
  position: absolute;
  width: 0.5px;
  height: 336px;
  background: #D4D4D4;
  top: 0;
  left: 0px;
}
@media (max-width: 654px) {
  .utility__pages .line {
    display: none;
  }
}

.end {
  text-align: center;
  padding: 17px 0px;
  border: 2px solid transparent;
  border-top: 1px solid #274C5B;
}
@media (max-width: 800px) {
  .end {
    padding: 17px 15px;
  }
}
.end p {
  color: #525C60;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 165.4%;
}
.end p span {
  color: #525C60;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 165.4%;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  padding: 20px 0px;
}

.nav__logo h1 {
  color: #525C60;
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-weight: 700;
  margin-left: 8px;
}
@media (max-width: 380px) {
  .nav__logo h1 {
    font-size: 28px;
  }
}
@media (max-width: 280px) {
  .nav__logo h1 {
    font-size: 18px;
  }
}
@media (max-width: 242px) {
  .nav__logo h1 {
    display: none;
  }
}

@media (max-width: 1280px) {
  .nav__list {
    display: none;
  }
}
.nav__list li {
  margin-left: 30px;
}
.nav__list li a {
  color: #525C60;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.nav__list li a:hover {
  color: #7EB693;
}

.search__bx {
  margin-right: 18px;
}
@media (max-width: 880px) {
  .search__bx {
    display: none;
  }
}

.search__bx, .res-search__bx {
  position: relative;
}
.search__bx input, .res-search__bx input {
  display: inline-block;
  max-width: 336px;
  height: 66px;
  padding-left: 20px;
  padding-right: 70px;
  border-radius: 36px;
  background: #fafafa;
  border: none;
  outline: none;
  font-size: 16px;
  letter-spacing: 1.1px;
}
@media (max-width: 300px) {
  .search__bx input, .res-search__bx input {
    width: 250px;
  }
}
@media (max-width: 275px) {
  .search__bx input, .res-search__bx input {
    width: 200px;
  }
}
.search__bx img, .res-search__bx img {
  width: 56px;
  height: 56px;
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.res-search__bx {
  display: none;
}
@media (max-width: 880px) {
  .res-search__bx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 525px) {
  .card__size {
    display: none;
  }
}

.card__size {
  padding: 6px 30px 6px 6px;
  border-radius: 33px;
  border: 1px solid #E0E0E0;
}
.card__size h2 {
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding-left: 12px;
}
.card__size img {
  cursor: pointer;
}

.navbar__open {
  display: none;
  margin-left: 20px;
}
@media (max-width: 1280px) {
  .navbar__open {
    display: block;
  }
}
.navbar__open img {
  width: 50px;
  height: 50px;
}

#navbar-responsive {
  position: fixed;
  left: -100%;
  bottom: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 4;
}

.responsive__position {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 4;
}

#navbar-close {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 35px;
  z-index: 2;
}

.res__nav__list li {
  margin: 30px;
  text-align: center;
}
.res__nav__list li a {
  color: #525C60;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 40px;
}
.res__nav__list li a:hover {
  color: #274C5B;
  background-color: #EFF6F1;
  border: 1px solid #274C5B;
  border-radius: 30px;
}

.res-card__size {
  margin-top: 20px;
  padding: 6px 30px 6px 6px;
  border-radius: 33px;
  border: 1px solid #E0E0E0;
  display: none;
}
.res-card__size h2 {
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding-left: 12px;
}
.res-card__size img {
  cursor: pointer;
}
@media (max-width: 525px) {
  .res-card__size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

main {
  background-color: orange;
  height: 90vh;
  padding-top: 200px;
}
main h1 {
  text-align: center;
}