@use "../base/common";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



$roboto-font: 'Roboto', sans-serif;
$yellowtail-font: 'Yellowtail', cursive;
$open-sans: 'Open Sans', sans-serif;

$green-color:#7EB693;
$dark__blue-color:#274C5B;
$light__gray-color:#D4D4D4;
$light__green-color:#EFF6F1;
$light__black-color:#525C60;
$light__pink-color:#F9F8F8;
$yellow-color:#EFD372;

.footer__email
{
    @extend .flex-between;
    padding: 100px 100px;
    background: url("../../images/footer/Photo_contact.png"), lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    margin-bottom: 100px;
    @media(max-width:1245px)
    {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 20px;
        padding: 100px 0px;
    }
    @media(max-width:825px)
    {
        background-position: center;
    }
    h2
    {
        width: 357px;
        color: #FFF;
        font-family: $roboto-font;
        font-size: 50px;
        font-weight: 800;
        @media(max-width:411px)
        {
            font-size: 40px;
            width: 100%;

        }
    }
    .email__bx
    {
        @extend .flex-center;
        @media(max-width:635px)
        {
            flex-direction: column;
            gap: 20px;
        }
        input
        {
            width: 349px;
            height: 80px;
            border-radius: 16px;
            background: #FFF;
            border: none;
            outline: none;
            padding-left: 20px;
            @media(max-width:411px)
            {
                width: 280px;
            }
            @media(max-width:359px)
            {
                width: 240px;
            }
            @media(max-width:320px)
            {
                width: 200px;
            }
        }
        input:focus
        {
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        }
        button
        {
            background-color: transparent;
            margin-left: 6px;
            @media(max-width:635px)
            {
                margin-left: 0;
            }
            a
            {
                display: flex;
                width: 220px;
                padding: 28px 47px 29px 47px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 16px;
                background: $dark__blue-color;
                color: #FFF;
                font-family: Roboto;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                transition: 0.2s;
                @media(max-width:411px)
                {
                    width: 180px;
                    padding: 24px 47px;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            a:hover
            {
                background-color: #fff;
                color: $dark__blue-color;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }
        }
    }
}
.footer__page
{
    @extend .flex-between;
    align-items: start;
    padding-bottom: 82px;
    position: relative;
    @media(max-width:1187px)
    {
        padding-top: 350px;
        justify-content: center;
    }
    @media(max-width:654px)
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media(max-width:389px)
    {
        padding-top: 420px;
    }
}
.f__contact
{
    text-align: right;
    position: relative;
    padding-right: 50px;
    @media(max-width:654px)
    {
        text-align: center;
        padding-right: 0;
        width: 100%;
    }
    .line
    {
        position: absolute;
        width: 1px;
        height: 336px;
        background: #D4D4D4;
        top: 0;
        right: 0px;
        @media(max-width:654px)
        {
            display: none;
        }
    }
    h3
    {
        color: $dark__blue-color;
        font-family: $roboto-font;
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 32px;
    }
    h4
    {
        color: $light__black-color;
        font-family: $open-sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 165%;
    }
    p
    {
        color: $light__black-color;
        font-family: $open-sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 165%;
        padding-bottom: 32px;
    }
}
.footer__center
{
    text-align: center;
    @media(max-width:1187px)
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer__logo
    {
        margin-bottom: 23px;
        @extend .flex-center;
        h1
        {
            color: $dark__blue-color;
            font-family: $roboto-font;
            font-size: 38px;
            font-weight: 700;
            margin-left: 9px;
        }
    }
    p
    {
        max-width: 543px;
        color: $dark__blue-color;
        font-family: $open-sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 165.4%;
        padding-bottom: 50px;
    }
    .soical__buttons
    {
        a
        {
            margin: 10px;
            img:hover
            {
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                border-radius: 60%;

            }
        }
    }
}
.utility__pages
{
    text-align: left;
    padding-right: 70px;
    position: relative;
    padding-left: 50px;
    @media(max-width:654px)
    {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        width: 100%;

    }
    h3
    {
        color: $dark__blue-color;
        font-family: $roboto-font;
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 32px;
        @media(max-width:1185px)
        {
            padding-bottom: 12px;
        }
    }
    a
    {
        color: $dark__blue-color;
        font-family: $open-sans;
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 2px;
        margin: 5px;
    }
    a:hover
    {
        color: $green-color;
    }
    .line
    {
        position: absolute;
        width: 0.5px;
        height: 336px;
        background: #D4D4D4;
        top: 0;
        left: 0px;
        @media(max-width:654px)
        {
            display: none;
        }
    }
}
.end
{
    text-align: center;
    padding: 17px 0px;
    border: 2px solid transparent;
    border-top: 1px solid $dark__blue-color;
    @media(max-width:800px)
    {
        padding: 17px 15px;
    }
    p
    {
        color: $light__black-color;
        text-align: center;
        font-family: $open-sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 165.4%;
        span
        {
            color: $light__black-color;
            font-family: $open-sans;
            font-size: 18px;
            font-weight: 700;
            line-height: 165.4%;
        }
    }
}
