@use "../global";

$green-color:#7EB693;
$dark__blue-color:#274C5B;
$light__gray-color:#D4D4D4;
$light__green-color:#EFF6F1;
$light__black-color:#525C60;
$light__pink-color:#F9F8F8;
$yellow-color:#EFD372;

main
{
    background-color: #4578;
    height: 90vh;
    padding-top: 200px;
    h1
    {
        text-align: center;
    }
}